:root {
	--lilac: #d891ef;
	--violet: #9400d3;
	--milk-white: #fffaf0;
	--white: #fff;
	--light-grey: #434551;
	--grey: #333;
	--dark-grey: #222;
	--dark: #282a3a;
}
body {
	font-family: "Rubik", sans-serif;
	position: relative;
	min-height: calc(100vh - 60px);
	background-color: var(--light-grey);
	color: var(--white);
}

h3 {
	font-size: 1.5rem;
	margin: 15px;
}

.tasksList {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark);
	min-height: 425px;

	padding: 10px;
	width: 60%;
	border-radius: 10px;
	text-align: center;
}

.list {
	max-height: 173px;
	overflow-y: scroll;
}
.list::-webkit-scrollbar {
	width: 10px;
}

.list::-webkit-scrollbar-thumb {
	background-color: var(--grey);
	border-radius: 5px;
}

.list::-webkit-scrollbar-track {
	background-color: var(--light-grey);
	border-radius: 5px;
}

.list::-webkit-scrollbar-thumb:hover {
	background-color: var(--dark-grey);
}

.taskForm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin-bottom: 10px;
}

.taskForm > .addTaskInput {
	height: 1.2rem;
	width: 60%;
	margin-right: 20px;
	font-size: 0.8rem;
	border-radius: 10px;
	border: none;
	padding: 5px;
	text-align: center;
}

.taskForm > .addTaskInput:focus {
	outline: none;
}

.taskForm > .addTaskButton {
	position: relative;
	font-size: 0.9rem;
	border: 1px solid var(--lilac);
	box-shadow: 0 0 10px 2px var(--lilac);
	background-color: transparent;
	color: var(--white);
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
}

.taskForm > .addTaskButton::before {
	content: "";
	position: absolute;
	top: -15px;
	left: -100px;
	height: 160%;
	width: 100%;
	background-image: linear-gradient(
		-90deg,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0)
	);
	transform: rotate(20deg);
	transition: all 0.5s;
	z-index: -1;
}

.taskForm > .addTaskButton:hover::before {
	left: 130%;
}
.taskListItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 25px;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: var(--lilac);
}

.taskListItem:nth-child(odd) {
	background-color: var(--violet);
}

.taskListItem > .checkboxInput {
	position: absolute;
	left: 10px;
}
.taskListItem > .buttons {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	right: 10px;
}
.taskListItem > .taskText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.updateButton,
.deleteButton,
.saveButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	padding: 0;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: var(--white);
	transition: color 0.3s;
}

.icon:hover {
	color: var(--milk-white);
}

.editForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.editForm > .input {
	margin-right: 10px;
	text-align: center;
	font-size: 0.9rem;
	padding: 5px;
	border: none;
	border-radius: 10px;
}

.editForm > .input:focus {
	outline: none;
}

.taskSummary {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.taskSummaryItem {
	width: 110px;
	border: 1px solid var(--violet);
	margin: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px var(--violet);
}

.taskSummaryHeader {
	font-size: 1rem;
	margin: 10px;
}

.taskSummaryCount {
	font-size: 2rem;
	font-weight: bold;
	margin: 10px;
}

.dayButton {
	position: relative;
	background-color: var(--white);
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9rem;
	margin: 5px;
	font-weight: bold;
	padding: 10px 20px;
	transition: 0.5s;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.dayButton:hover {
	background: var(--violet);
	color: var(--violet);
	letter-spacing: 0.1rem;
	box-shadow: 0 0 20px var(--violet);
}

.dayButton:hover:nth-child(odd) {
	background-color: var(--lilac);
	color: var(--lilac);
}
.dayButton:before {
	content: "";
	position: absolute;
	inset: 2px;
	background: var(--light-grey);
	border-radius: 5px;
}

.dayButton span {
	position: relative;
	z-index: 1;
}

.dayButton i {
	position: absolute;
	inset: 0;
	display: block;
}

.dayButton i::before {
	content: "";
	position: absolute;
	top: 0;
	left: 80%;
	width: 6px;
	height: 2px;
	background: var(--light-grey);
	transform: translateX(-50%) skewX(325deg);
	transition: 0.5s;
}

.dayButton:hover i::before {
	width: 20px;
	left: 20%;
}

.dayButton i::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 6px;
	height: 2px;
	background: var(--light-grey);
	transform: translateX(-50%) skewX(325deg);
	transition: 0.5s;
}

.dayButton:hover i::after {
	width: 20px;
	left: 80%;
}

.selectDay {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: white;
	border: none;
	cursor: pointer;
	position: relative;
}

input[type="checkbox"]::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("./icons/check.svg");
	width: 25px;
	height: 25px;
	visibility: hidden;
}

input[type="checkbox"]:checked::before {
	visibility: visible;
}

@media (max-width: 786px) {
	h3 {
		font-size: 1.3rem;
	}

	.tasksList {
		width: 70%;
	}

	.list {
		max-height: 155px;
	}
	.taskForm {
		flex-direction: column;
		margin-bottom: 0.2em;
	}

	.taskForm > .addTaskInput {
		width: 80%;
		margin-right: 0;
		margin-bottom: 1em;
	}
	.taskForm > .addTaskButton {
		font-size: 0.8rem;
	}

	.taskListItem {
		font-size: 0.8rem;
		height: 20px;
		flex-direction: column;
	}

	.icon {
		font-size: 1rem;
	}
	input[type="checkbox"] {
		width: 25px;
		height: 25px;
	}
	input[type="checkbox"]::before {
		background-image: url("./icons/check_medium.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	.editForm > .input {
		font-size: 0.8rem;
	}

	.taskSummaryItem {
		width: 100px;
	}

	.taskSummaryHeader {
		font-size: 0.8rem;
	}

	.taskSummaryCount {
		font-size: 1.7rem;
	}
}

@media (max-width: 576px) {
	.dayButton {
		font-size: 0.7rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	.tasksList {
		width: 80%;
	}
	.taskForm > .addTaskInput {
		height: 1rem;
	}

	.taskListItem {
		font-size: 0.7rem;
	}

	.icon {
		font-size: 0.9rem;
	}

	.taskForm > .addTaskButton {
		font-size: 0.7rem;
	}

	.editForm > .input {
		width: 120px;
		font-size: 0.7rem;
	}

	.taskSummaryItem {
		width: 90px;
	}

	.taskSummaryCount {
		font-size: 1.4rem;
	}
}

@media (max-width: 400px) {
	.selectDay {
		margin-top: 20px;
	}
	.dayButton {
		font-size: 0.6rem;
	}

	.tasksList {
		margin: 50px 0;
		width: 90%;
	}

	.icon {
		font-size: 0.8rem;
	}
	.taskListItem > .buttons {
		right: 0px;
	}
	.taskListItem > .checkboxInput {
		left: 5px;
	}
	.updateButton,
	.deleteButton {
		margin-right: 5px;
	}
	.editForm > .input {
		width: 90px;
		font-size: 0.6rem;
		margin-right: 5px;
	}

	.taskSummaryItem {
		margin: 10px 10px;
	}

	.taskSummaryHeader {
		font-size: 0.6rem;
	}
}

@media (max-width: 300px) {
	.tasksList {
		margin: 100px 0;
	}
}
